@font-face {
    font-family: Salsa-Regular;
    src: url('../fonts/Salsa-Regular.ttf') format('truetype');
}
/* Move down content because we have a fixed navbar that is 50px tall */

body {
    padding-bottom: 20px;
    background-repeat: no-repeat;
    background: rgb(234,245,247);
    background: -moz-linear-gradient(top, rgba(234,245,247,1) 1%, rgba(252,249,229,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(234,245,247,1)), color-stop(100%,rgba(252,249,229,1)));
    background: -webkit-linear-gradient(top, rgba(234,245,247,1) 1%,rgba(252,249,229,1) 100%);
    background: -o-linear-gradient(top, rgba(234,245,247,1) 1%,rgba(252,249,229,1) 100%);
    background: -ms-linear-gradient(top, rgba(234,245,247,1) 1%,rgba(252,249,229,1) 100%);
    background: linear-gradient(to bottom, rgba(234,245,247,1) 1%,rgba(252,249,229,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaf5f7', endColorstr='#fcf9e5',GradientType=0 );
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
    max-width: 280px;
}

.center {
    text-align: center;
}

img {
    border-radius: 10px;
}

.about-funbook h2 {
    color: purple;
}

.about-funbook p, .about-funbook a {
    font-size: 19px;
}

.about-funbook ul {
    list-style-type: none;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}

.jokes-content {
    padding: 0 20px;
}

.popular, .recent {
    display: inline-block;
    padding: 20px;
}

a {
    text-decoration: none;
}

    a:hover {
        text-decoration: none;
    }

aside {
    display: block;
    margin-bottom: 10px;
}

    aside.categories-menu, aside.tags-menu {
        background-color: white;
        border-radius: 10px;
        padding: 20px;
    }

        aside.categories-menu a:hover, aside.tags-menu a:hover {
            text-decoration: none;
        }

    aside.categories-menu {
        float: left;
    }

    aside.tags-menu {
        float: right;
    }

.categories-menu-title {
    color: #afca57;
    font-size: 1.3em;
}

.navbar-brand {
    font-size: 2em;
    font-family: Salsa-Regular,Arial,Helvetica,sans-serif;
}

.content-title, .content-empty {
    font-family: Salsa-Regular,Arial,Helvetica,sans-serif;
    color: #afca57;
    margin: 5px 5px 2px 5px;
}

.content-title-all {
    font-family: Salsa-Regular,Arial,Helvetica,sans-serif;
    color: #afca57;
    font-size: 1.2em;
}

.sort-link {
    text-align: right;
}

.menu {
    background-color: #ee3963;
    border-radius: 10px;
    font-family: Salsa-Regular,Arial,Helvetica,sans-serif !important;
}

ul.main-menu > li {
    border-right-style: dotted;
    border-right-color: #FF809E;
    border-bottom-width: 2px;
    color: white;
}

    ul.main-menu > li > a {
        color: white;
        font-size: 1.2em;
    }

        ul.main-menu > li > a:hover {
            background-color: rgba(255, 250, 250, 0.55);
        }

.custom-container {
    margin-top: 20px;
}

.navItem {
    display: block;
}

table.items-grid, table.items-grid th, table.items-grid tr, table.items-grid td {
    border: none;
}

    table.items-grid th {
        padding: 10px;
        color: #afca57;
        font-family: Salsa-Regular,Arial,Helvetica,sans-serif !important;
        font-size: 1.2em;
    }

.item-title {
    box-shadow: 0px -2px 5px #ee3963;
    padding: 10px;
}

.item-text {
    box-shadow: 0px 2px 5px #ee3963;
    padding: 10px;
    margin-bottom: 10px;
}

footer {
    color: #ee3963;
}

.item-title, .item-text {
    display: block;
}

.date {
    text-align: right;
    display: block;
    font-style: italic;
}

.joke-main-container, .link-main-container, .fun-main-container {
    vertical-align: middle;
    text-align: center;
}

    .joke-main-container h3, .link-main-container h3, .fun-main-container h3 {
        display: inline-block;
        color: #428bd2;
        font-weight: bold;
        font-size: 25px;
    }

#fun-content {
    padding: 25px 10px 25px 10px;
    background-color: white;
    border-radius: 15px;
}

    #fun-content p {
        padding: 0;
        margin: 0;
    }

.joke-info {
    text-align: center;
    vertical-align: middle;
}

    .joke-info ul {
        display: inline-block;
    }

.button {
}

    .button a {
        background-color: #ee3963;
        color: white;
    }

    .button:hover a:hover {
        background-color: #ee3963;
    }

    .button .badge {
        border-radius: 15px;
        background-color: white;
        color: #428bd2;
    }

.joke-comments {
    margin: 15px 0 15px 0;
}

    .joke-comments .active {
        padding: 15px;
        border: none;
        background-color: #ee3963;
    }

        .joke-comments .active:hover {
            background-color: #ee3963;
        }

#picture-details-image {
    max-width: 500px;
    max-height: 1200px;
}

#open-link {
    font-size: 17px;
    background-color: white;
    color: black;
    display: block;
    padding: 20px;
    border-radius: 15px;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

    #open-link:hover {
        background-color: #ee3963;
        color: white;
    }

#headerHolder {
    background-image: url(Images/back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 15em;
}

    #headerHolder a {
        background-color: #ee3963;
        color: #ffffff;
        margin-right: 2em;
    }

        #headerHolder a:hover {
            color: #428bca;
             text-shadow: 0 0 8px white;
        }

    #headerHolder h1 {
        font-family: 'Comic Sans MS', cursive;
        margin-right: 0.5em;
        font-size: 5em;
        color: #ee3963;
    }

    #headerHolder > div > div > a > h1 > span:hover {
        color: #428bca;
    }

.form-control{
    width: 281px;
    margin: 5px;
}

.nav-pills{
    margin-bottom: 10px;
}

